* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.0625em;
}

/*nav section*/



#mainNav {
  min-height: 56px;
  background-color: #fff; /*white*/
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #890620;
  /*border: 1px solid #64a19d;*/
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#nav-toggle-button {
color: #fff;
}


#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) { /*when the screen viewport is width is 992px, my nav bar becomes transparent*/
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out; 
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);   /*positioning and color of my navigation bar*/
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75); /*hover on links nav*/
  }
  #mainNav .nav-link:active { /*color white when they are active*/
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370; 
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}



/*masthead section jumbotron*/

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}

.masthead h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  color: #890620;

}

.masthead h1#kb {
font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  color: white;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}


.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important; /*gray*/
  padding: 1.25rem 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-light {
  background-color: #C14545;
}



/*about-section*/

.about-section {
  /*height: 90vh;*/
  padding-bottom: 20px;
  padding-top: 10rem;
  background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
}

.about-section p {
  margin-bottom: 5rem;
}

#photos {

  padding: 50px;
  background-color: none;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

img#photos:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
</style>
}



/*menu section*/

.menu-section {
  padding: 10rem 0;
}

.menu-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .menu-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}

.menu-section .menu-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .menu-section .menu-text {
    padding: 5rem;
  }

  ol.carousel-indicators#list {
    padding-top: 100px;
  }


img#photo-menu:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}




/*contact and sign up section*/




.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-inline input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding: 5rem 0 0;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;

}

.contact-sectiom .social {
  padding-bottom: 100px;
}



/*footer section*/ 

footer {
  position: absolute;
  bottom: 1;
  padding: 5rem 0;
  width: 100%;
}

.menu-footer {
   position: absolute;
  bottom: 1;
  padding: 5rem 0;
  width: 100%;
}






 /*gallery effect*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 5px; /*space on the nav bar section*/

 /* padding: auto;*/
}

h1#galleryh2{
/*  padding-top: 200px;*/
  margin-top: 200px;
}


/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 50%; /*to occopied the whole space*/
  padding: 0 4px; /*spacing between each photos*/
}

.column img {
  margin-top: 20px; /*space on the nav bar*/
  vertical-align: middle;
  width: 100%;
  padding: 2px;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}



img#photo:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}





/*gallery*/
#photoshoot {
  display: flex;
  flex-wrap: wrap;
  padding: auto;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: auto;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  #photoshoot {
    width: 50%;
    height: 50%;
    display: fl;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}



@media only screen (max-width: 400px) {
  #col-map {
    width: 100%;
  }
}


#card {
  padding-top: 90px; 
  height: 350px;
  opacity: .75;
}
